ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 4h
ServerAliveInterval 60

Host *.thumbtack.com
	IdentityFile ~/.ssh/id_rsa_thumbtack_debian
	IdentityFile ~/.ssh/id_rsa_thumbtack_redhat
Host *.internal
	User eric
	IdentityFile ~/.ssh/id_rsa_thumbtack_debian
	IdentityFile ~/.ssh/id_rsa_thumbtack_redhat
	ProxyCommand ssh boxy.thumbtack.com -W %h:%p
Host amigos.lan
	User root
Host balancer
    HostName 10.40.208.146
    ControlPath none
